:root {
    --purple-gradient: linear-gradient(135deg, #6c5ce7, #a29bfe);
    --pink-gradient: linear-gradient(135deg, #fd79a8, #6c5ce7);
    --text-dark:#2d3436;
}
.header {
    background:white;padding:20px 30px;border-radius:20px;
    display:flex;justify-content:space-between;align-items:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}
.logo img{
    width:80px;
}
.user-avatar {
    width:45px;height:45px;border-radius:50%;
    background:var(--pink-gradient);color:white;
    display:flex;justify-content:center;align-items:center;font-weight:bold;
}
.main-grid {display:grid;grid-template-columns:220px 1fr 350px;gap:20px;margin-top:20px;}
.sidebar {display:flex;flex-direction:column;gap:12px;}
.nav-item {
    background:white;padding:15px;border-radius:12px;
    text-decoration:none;color:var(--text-dark);font-weight:500;
}
.nav-item:hover {background:var(--purple-gradient);color:white;}
.card {
    background:white;padding:20px;border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}
.card-header {display:flex;justify-content:space-between;}
.btn-new {
    background:var(--pink-gradient);color:white;
    padding:10px 20px;border-radius:10px;text-decoration:none;
}
.complaint-item {
    border:2px solid #eee;padding:15px;border-radius:12px;margin-top:10px;
}
.profile-card {
    background:var(--purple-gradient);
    height:fit-content;
    color:white;
    padding:20px;
    border-radius:20px;
}

/* MODAL */
.modal {
    display:none;position:fixed;inset:0;
    background:rgba(0,0,0,0.6);
    justify-content:center;align-items:center;
}
.modal-content {
    background:white;padding:25px;border-radius:15px;width:400px;
}
.modal-content button{
    background-color:rgba(162, 155, 254,0.6);
    padding:3px;
    border:1px solid black;
    border-radius: 3px;
    cursor: pointer;
}
.avatar{
    width:45px;height:45px;border-radius:50%;
    background:#6c5ce7;color:white;
    display:flex;justify-content:center;align-items:center;font-weight:bold;
}
.main-grid{display:grid;grid-template-columns:220px 1fr;gap:20px;margin-top:20px;}

.stats{
    display:grid;grid-template-columns:repeat(3,1fr);gap:15px;margin-bottom:20px;
}
.stat-box{
    padding:20px;border-radius:15px;color:white;font-weight:bold;
}
.pending{background:#fdcb6e;}
.progress{background:#0984e3;}
.resolved{background:#00b894;}

table{
    width:100%;border-collapse:collapse;margin-top:10px;
}
th,td{
    padding:10px;border:1px solid #ddd;text-align:left;font-size:14px;
}
th{background:#6c5ce7;color:white;}
.status-select{padding:5px;}
.update-btn{
    padding:6px 12px;background:#6c5ce7;color:white;border:none;border-radius:5px;cursor:pointer;
}
